
Header {
    margin-bottom: 10%;
    margin-left: 4rem;
    background-color: #4dbb8dda;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    text-align: left;
    text-decoration: double;
    color: #ffffff;
    text-align: center;
    padding-top: 5rem;
  }
  
  h2 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-align: center;
    padding-top: 0.5rem;
  }

  .heading{
    margin-bottom: 10%;
    margin-left: 4rem;
    background-color: #3f3f3fda;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 2rem;
  }