.textField {
  background-color: #ffffffe0;
  max-width: 70vw;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1.2rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

.textField h3 {
  color: #027668;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: #b7b7b7 2px solid;
}

.textField h4 {
  color: #004d40;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 2px solid #8ea29f;
  border-radius: 0.2rem;
  margin-top: 1rem;
  padding: 1rem;
}

.textField p {
  font-size: 1.2rem;
  line-height: 1.5;

  color: #2d2d2daa;
  padding: 1rem 0;
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  margin-bottom: 5rem;
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.217);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

  padding: 2rem;
}

.sectionTwo,
.sectionFour {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #3589dc34;
  background-color: #33f2b634;
  border-radius: 1rem;
  height: auto;
  padding: 3rem;
  gap: 2rem;
  flex-wrap: nowrap;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
}

.sectionThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: #3f3f3f25;
  padding-bottom: 2rem;
  border-radius: 1rem;
  width: auto;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
}

.sectionThree p,
.sectionOne p {
  max-width: 600px;
  margin-top: 0;
}

section img {
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.imageThree {
  max-width: 40vw;
  width: 100%;
}

.imageTwo,
.imageFour {
  max-width: 30vw;
  width: 100%;
}

.imageOne {
  max-width: 40vw;
  width: 100%;
}

@media (max-width: 1000px) {
  .sectionOne,
  .sectionTwo,
  .sectionThree,
  .sectionFour {
    flex-direction: column;
    padding: 0rem 1rem;

    flex-wrap: wrap;
  }
  .sectionTwo,
  .sectionFour {
    padding: 1.2rem;
  }

  .sectionThree {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sectionTwo {
    padding-bottom: 2rem;
  }

  .textField {
    max-width: 95vw;
  }

  .textField p {
    text-align: left;
  }

  section img {
    min-width: 100%;
  }
}
@media (max-width: 460px) {
  .textField p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .imageOne {
    border-radius: 4px;
  }
}
